*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carousel{

    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 30%;
    overflow: hidden;   
   
  
}

.frame{
     display: flex ;
     width: 100%;
     height: 100%;
     transition: margin-left .75s ease-out; 
     
}

.frame .item{
    width: 100%;
    height: 100%;
    flex: none;
    flex-shrink: 0;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
@media only screen and (max-width: 768px) {
   
   
    .carousel{
        margin-top: 0px;
        width: 100%;
    }
}
/*
*   buttons indicator
*/

.indicators{
    
    text-align: center;
    
    margin: auto;
   
    padding: 5px;
    position: relative;
    top:-25px
 
}
 
.btn{
    display: inline-block;
    height:5px;
    width: 3%;
    background-color: rgba(255,255,255,.5);
}


.btn:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,.75);
}

/*
*       radio buttons
*/
.rb{
    display: none;
}

#rb1:checked ~ frame  {
    margin-left: 0%;
 }
 #rb2:checked ~ .frame {
    margin-left: -100%;
 }
 #rb3:checked ~ .frame {
    margin-left: -200%;
 }
 #rb4:checked ~ .frame {
    margin-left: -300%;
 }

 #rb1:checked ~ .indicators  #btn1,
 #rb2:checked ~ .indicators  #btn2,
 #rb3:checked ~ .indicators  #btn3,
 #rb4:checked ~ .indicators  #btn4
 {
    border:1px solid #BBB;
    background-color: #DDD;
 }


 /*
 *  ctr : prv / next
 */

 .arrows{
    color: rgba(255, 255, 255, .50);
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    width: 100%;
     
     display: flex;
     justify-content: space-between;
     align-items: center;
     
     font-size: xx-large;
 }


 .ctr{
     margin: 0px 5px;
 }
 
 .ctr:hover{
     cursor: pointer;
     color: rgba(255, 255, 255, .75);
 }