*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carousel{
    margin: auto;
    margin-top: 50px;

   
    width: 1597px;

   
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow: hidden;   
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
  
}

.frame{
    animation: scroll 10s linear infinite;
     display: flex ;
}


.item{

    background-color: aliceblue;
    border:1px solid black;
    
    height:380px;

    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: none;
    
  
}

.item span{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*
*       4 items
*/



@keyframes scroll {
    0% {
      transform: translateX(0%);
      transition-timing-function: ease-out;
    }

    20% {
        transform: translateX(-100%);
        transition-timing-function: ease-out;
    }

    25% {
        transform: translateX(-100%);
        transition-timing-function: ease-out;
    }


    45% {
        transform: translateX(-200%);
        transition-timing-function: ease-out;
    }

    50% {
        transform: translateX(-200%);
        transition-timing-function: ease-out;
    }


    70% {
        transform: translateX(-300%);
        transition-timing-function: ease-out;
    }
    75% {
        transform: translateX(-300%);
        transition-timing-function: ease-out;
    }
  
    95% {
      transform: translateX(-400%);
      transition-timing-function: ease-out;
    }

    100% {
        transform: translateX(-400%);
       
      }

  }

nav{
    
    text-align: center;
    display: flex   ;
    width:200px;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 5px;
}


.btn{
    display: block;
    height:5px;
    width: 30px;
    background-color: #333;
    /* border-radius: 50%; */
}
